* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:white;
}

/* header bar */
.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: navy;
    color:aliceblue;
    display: inline-block;
}
.header h1{
    display: inline-block;
    font-size:50px;
    padding-bottom: 10px;
}

/* links in header */
.header nav{
    padding-top:20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    ul {
        list-style-type: none;
    }
    ul li {
        display: inline-block;
        margin-left: 25px;
    }
}
a {
    text-decoration: none;
    color:aliceblue;
}
a:hover {
    color:coral;
}


/* about me section */
.about-me {
    height: 150px;
    width: 100%;
    background-color: cornflowerblue;
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: darkslategrey;
    p {
        padding-left: 50px;
        padding-top:2px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }
}

.about-me h2 {
    padding-left: 35px;
    padding-top: 20px;
}


/* main section of page, showing my work */
.work {
    width: 100%;
    display: inline-block;
    padding-bottom: 20px;
    background-color:aliceblue;
}

/* section for the prework application image and link */
.prework {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}
.prework img {
    max-height: 400px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    display: block;
}
.prework:hover p {
    bottom: 8px;
    left: 16px;
    font-size: 24px;
    color: navy;
}

/*.prework-caption {
    position: absolute;
    bottom: 8px;
    left: 16px;
}*/

/* section for the challenge1 application image and link */
.challenge1 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.challenge1 img {
    max-height: 800px;
    max-width: 100%;
    margin-left: auto;
    height: auto;
    display: block;
    float: right;
    margin-right: 50px;
    margin-bottom: 25px;
}
.challenge1:hover p{
    bottom: 8px;
    right: 16px;
    font-size: 30px;
    color: navy;
}

/* section that is intentionally left blank for future projects */
.tbd {
    padding:50px;
}
.tbd img {
    position: relative;
    float: left;
    display: block;
    text-align: center;
}
.coming-soon {
    position: absolute;
    font-size: 24px;
    color: coral;
}


/* section for resume */
.resume {
    width: 100%;
    height: 150px;
    display: inline-block;
    padding-bottom: 20px;
    background-color:cornflowerblue;
    border-style: solid;
    border-width: 5px;
    border-color: darkslategrey;
    p {
        padding-left: 50px;
        padding-top:2px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }
}



/* contact me section */
footer {
    background-color:midnightblue;
}

.contact-me {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:aliceblue;
    display: inline-block;
}

.contact-me nav{
    padding-top:20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    ul {
        list-style-type: none;
    }
    ul li {
        display: inline-block;
        margin-left: 25px;
    }
}
/*a {
    text-decoration: none;
    color:aliceblue;
}
a:hover {
    color:coral;
}*/