* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:white;
}

/* header bar */
.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: navy;
    color:aliceblue;
    display: inline-block;
}
.header h1{
    display: inline-block;
    font-size:50px;
    padding-bottom: 10px;

}

.header nav{
    padding-top:20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    ul {
        list-style-type: none;
    }
    ul li {
        display: inline-block;
        margin-left: 25px;
    }
}
a {
    text-decoration: none;
    color:aliceblue;
}

.about-me {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-color: cornflowerblue;
    display: inline-block;
    p {
        padding-left: 50px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }
}

.about-me h2 {
    padding-left: 35px;
    padding-top: 15px;
}

