* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:white;
}

/* header bar */
.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: navy;
    color:aliceblue;
}
.header h1{
    padding-bottom: 10px;
    display: inline-block;
    font-size:50px;
}

/* links in header to sections of the page titled 'work', 'about me', 'contact me', and 'resume'. */
.header nav{
    padding-top:20px;
    padding-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    ul {
        list-style-type: none;
    }
    ul li {
        padding-left: 25px;
        display: inline-block;
    }
}
a {
    text-decoration: none;
    color:aliceblue;
}
a:hover {
    color:coral;
}


/* section of the page giving background about me */
.about-me {
    border-style: solid;
    border-width: 5px;
    border-color: darkslategrey;
    background-color: cornflowerblue;
}
.profilePic {
    float: right;
    margin-top: -50px;
    margin-right: 25px;
    margin-bottom: 10px;
    max-width: 150px;
    border: 5px solid black;
}
.textAboutMe {
    padding-top: 2px;
    padding-right: 180px;
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.about-me h2 {
    margin-top: 20px;
    margin-left: 15px;
}



/* main section of page, showing my work */
.work {
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
    background-color:aliceblue;
}


/* subsection of the 'work' section, showing the prework application image and link */
.prework {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 25px;
}
.prework img {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
.prework:hover p {
    position: absolute;
    font-size: 24px;
    color: navy;
}


/* subsection of the 'work' section, showing the challenge1 application image and link */
 .challenge1 {
    padding-top:20px; 
}
.challenge1 img {
    max-height: 1000px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 100%;
}
.challenge1:hover p {
    position: absolute;
    padding-top: 6px;
    right: 0px;
    padding-right: 40px;
    font-size: 25px;
    color:lightsalmon;
}
.float-right {
    float: right;
    margin-left: 25px;
}


/* subsection of the 'work' section. There is a placeholder image which will be replaced with a future project */
.tbd img {
    display: flex;
    height: auto;
    margin-top: 20px;
    padding-right: 20px;
    float: left;
    padding-left: 20px;
    max-width: 100%;
}
#coming-soon {
    position: absolute;
    padding-top: 25px;
    left: 0px;
    padding-left: 40px;
    font-size: 24px;
    color: coral;
}
@media screen and (max-width: 1180px) {
    .tbd {
      clear: right;
    }
}




/* this section will contain my resume. It is currently blank. */
.resume {
    display: inline-block;
    height: 150px;
    padding-bottom: 20px;
    width: 100%;
    background-color:cornflowerblue;
    border-style: solid;
    border-width: 5px;
    border-color: darkslategrey;
    p {
        padding-top:2px;
        padding-left: 50px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }
}



/* footer */
footer {
    background-color:midnightblue;
}

/* This is the 'contact me' section and will include links to contact me in various ways. Currently there are no links. */
.contact-me {
    display: inline-block;
    padding: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:aliceblue;
}
.contact-me h3 {
    font-size: 24px;
}
.contact-me nav{
    padding-top:20px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    ul {
        list-style-type: none;
    }
    ul li {
        display: inline-block;
        padding-left: 25px;
    }
}
a {
    text-decoration: none;
    color:aliceblue;
}
a:hover {
    color:coral;
}